
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Coolest Items on the Web!</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body>

    <% include navbar %>



        <%- body -%>

    <% include footer %>
    <% include javascriptOnly %>



</body>

</html>


